<div class="col-lg-6" style="text-align: justify;">
  <p>
    O OBSERVATÓRIO DA COLETA SELETIVA DO ESTADO DO RIO DE JANEIRO (OCS), construído pelo CEPERJ/ INEA, consiste em um BANCO DE DADOS contendo informações com interfaces de consulta, retratados em forma de textos, dados estatísticos e mapas dos municípios construído a partir de pesquisas primárias coordenadas pelo PROGRAMA COLETA SELETIVA SOLIDÁRIA (PCSS) DO INEA.
  </p>

  <p>
    O OCS armazena inúmeros dados referentes a gestão dos resíduos sólidos com ênfase nos dados sobre a coleta seletiva de materiais recicláveis nos municípios fluminenses.
  </p>

  <p>
    O OCS apresenta informações que permitem traçar características e processos dos agentes que fazem parte dos Programas Municipais de Coleta Seletiva – catador, gestão municipal, cooperativa, escolas públicas e órgãos públicos.
  </p> 
</div>
<div class="col-lg-6 text-center">
  <a href="http://boiling-taiga-4463.herokuapp.com/" class="btn btn-lg btn-default">Clique aqui para acessar o Observatório</a>
</div>