<div class="answer_collection cf margin-bottom fields">
  <div class="col-sm-2">
    <%= f.text_field :text, class: "form-control", placeholder: "Text" %>
  </div>

  <div class="col-sm-4">
    <%= f.text_field :value, class: "form-control", placeholder: "Value" %>
  </div>

  <div class="col-sm-4">
    <%= f.text_field :event_js, class: "form-control", placeholder: "Value" %>
  </div>

  <div class="col-sm-1">
    <%= link_to_remove_fields "", f %>
  </div>
</div>