<ul class="pager page-control-top-right">
  <li><a href="#" class="btn btn-link btn-lg disabled prevTab">Anterior</a></li>
  <li><a href="#" class="btn btn-link btn-lg disabled nextTab">Próximo</a></li>
</ul>

<h1 class="title-coleta">Iniciar Instrumento de Coleta</h1>
<%= render "build_form" %>

<div class="text-center" style="margin-top:20px;">
  <p>
    <a href="/cards/last_cards" class="btn btn-lg btn-default">Ver últimos dados coletados</a>
  </p>
</div>