<div class="collapse navbar-collapse">
  <ul class="nav navbar-nav">
    <li class="<%= controller_name == "dashboard" ? "active" : "" %>"><a href="<%= admin_root_path %>">Home</a></li>
    <li class="<%= controller_name != "dashboard" ? "active" : "" %>"><a href="<%= admin_surveys_path %>">Formulários</a></li>
    <!-- <li><a href="#contact">Contact</a></li> -->
  </ul>
</div><!--/.nav-collapse -->